body {
  padding: 0 40px;
}
#signature {
  position: absolute;
  z-index: 100;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signature a {
  text-decoration: none;
}

#signature a:hover {
  text-decoration: underline;
}

#signature svg {
  width: 36px;
  height: 36px;
  margin-top: -4px;
  vertical-align: middle;
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

h1 {
  margin-top: -8vh;
  font-family: sans-serif;
  font-size: calc(max(28px, min(9vw, 80pt)));
  text-align: center;
  margin-bottom: 0;
}
p {
  font-family: sans-serif;
  font-size: calc(max(min(5vw, 40pt), 20px));
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #161616;
    color: #efeff3;
  }

  svg {
    fill: #efeff3;
  }
}

a {
  color: #61a0f1;
}

.email {
  vertical-align: baseline;
  text-decoration: none;
}

.badcop {
  position: fixed;
  bottom: -2vh;
}

@keyframes popup {
  0% {
    margin-bottom: -256px;
  }
  100% {
    margin-bottom: 0px;
  }
}

@keyframes fadeup {
  0% {
    transform: translateY(10vh);
    opacity: 0%;
  }
  100% {
    margin-bottom: 0px;
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes faderight {
  0% {
    transform: translateX(-10vh);
    opacity: 0%;
  }
  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}

.main h1 {
  animation: fadeup 1s forwards ease-out;
}
.main p {
  transform: translateX(-10vh);
  opacity: 0%;
  animation: faderight 1s 1.5s forwards ease-out;
}

.badcop img {
  animation: popup 0.8s 2s forwards;
  margin-bottom: -256px;
  animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  width: calc(min(20vh, 256px));
  height: calc(min(20vh, 256px));
  object-fit: contain;
  transition: scale 0.1s;
}

.badcop img:hover {
  scale: 1.1;
}

.email:hover {
  text-decoration: underline;
}
.email svg {
  height: calc(max(min(5vw, 40pt), 16px));
  width: calc(max(min(5vw, 40pt), 16px));
  margin-right: 0.4em;
  margin-bottom: -0.14em;
}
